
.footer {
  margin-top: 1%;
    background-color: #252424;
    color: #fff;
    padding: 20px;
    text-align: left;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .section {
    max-width: 200px;
    margin: 10px;
    margin-top: 20px;
  }
  
  .linkList{
    margin-top: 12px;
  }
  
  .socialList {
    list-style-type: none;
    margin-top: 12px;

    padding: 0;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .socialList {
    gap: 10px;
  }
  
  .copyright {
    font-size: 14px;
    margin-top: 10px;
  }
  