.Nav {
    background-color: rgb(39, 39, 39);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .h1 {
    color: #f1c80e;
    font-size: 30px;
    margin-left: 20px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

.Nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .Nav li a {
    text-decoration: none;
    color: rgba(206, 206, 206, 0.336);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .Nav li a:hover {
    color: rgba(206, 206, 206, 0.336);
    cursor: pointer;
  }
  
  
 